body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: #433f3f; /*#878787;*/
  font-size: 28px;
  font-weight: 200;
  line-height: 28px;
  width: 326px;
  margin-bottom: 4px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #dcecea;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-top: -34px;
  margin-right: 5px;
  height: 84px;
  width: 84px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1; /*1 =64px */
  font-weight: 400;
}
.weather-temperature a {
  text-decoration-line: none;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
